body {
    margin: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #4a148c, #1a237e);
    color: white;
    text-align: center;
}

.content {
    z-index: 2;
    top: 30vh;
}

.logo {
    border-radius: 50%;
    margin: 10px;
}

.lake-container {
    position: fixed;
    bottom: 0;
    right: 0;
    max-height: 500px;
    width: 100%;
    z-index: 0;
}

.lake {
    display: block;
    width: 100%;
    height: auto;
}

#sparkle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

header {
    position: fixed;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    margin-bottom: 30px;
    position: fixed;
    bottom: 500px;
    left: 44%
}

.links a {
    position: relative;
    bottom: 500px;
    margin: 10px;
    padding: 12px 20px;
    background-color: rgba(255, 255, 255, 0.226);
    border: 3px solid rgb(65, 2, 65);
    border-radius: 1px;
    color: rgb(65, 2, 65);
    text-decoration: none;
    transition: transform 0.2s, background-color 0.3s;
    font-size: larger;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
}

.links a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.1);
}

/* Pixel font */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');